<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항 작성</title>
  <link rel="stylesheet" href="/css/noticeDetail.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<th:block th:replace="/admin/adminHeader :: headerLayout"></th:block>
<div class="ft">
  <div class="container">
    <div class="main-title">
      <h1>공지사항 작성</h1>
      <div class="split--div"></div>
      <div class="container">
        <div class="split--div-post"></div>
      </div>
      <form id="frm" method="post">
        <table class="board_detail">
          <tbody>
          <tr>
            <th>제목</th>
            <td colspan="3"><label for="title"></label><input type="text" id="title" name="title"/></td>
          </tr>
          <tr>
            <th>내용</th>
            <td colspan="3"><textarea title="내용" id="content" name="content"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <div class="button-group">
        <a href="#this" id="list" class="mbtn" >목록으로</a>
        <a href="#this" id="edit" class="rbtn" >작성하기</a>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#list").on("click", function(){
      location.href = "/admin_notice";
    });

    $("#edit").on("click", function(){
      var frm = $("#frm")[0];
      frm.action = "/createNotice";
      frm.submit();
    });
  });
</script>
</body>
</html>
