<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>이용가이드</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<th:block th:replace="/layout/header :: headerLayout"></th:block>
<div class="ft">

  <h1>이용가이드</h1>

</div>
<div class="footers"></div> <!-- 이거 지우면 안됨 -->
<th:block th:replace="/layout/footer :: footerLayout"></th:block>
</body>
</html>