<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>플랫폼</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/platform.css">
</head>
<body>
<th:block th:replace="/layout/header :: headerLayout"></th:block>
<div class="ft">

  <h1>플랫폼 소개</h1>
</div>
<div class="footers"></div> <!-- 이 부분은 지우지 말아야 합니다. -->
<th:block th:replace="/layout/footer :: footerLayout"></th:block>
</body>
</html>