<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>입지분석</title>
  <link rel="stylesheet" href="/css/ol.css">
  <link rel="stylesheet" href="/css/mapOptionLayer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script type="text/javascript" th:src="@{/js/ol.js}"></script>
</head>
<body>
<th:block th:replace="/layout/header :: headerLayout"></th:block>
<div class="ft">
  <div class="main-map">
  <div class="menu" id="menu">
    <div class="menu-header">
      <span>레이어 선택</span>
      <button onclick="toggleMenu()">&times;</button> <!-- 닫기 버튼 -->
    </div>
    <div class="menu-search">
      <input type="text" placeholder="검색..."> <!-- 검색창 -->
    </div>
    <ul>
      <li>
        <span class="submenu-item" onclick="toggleSubmenu(event, this)">지역</span> <!-- 메인 메뉴 -->
        <ul class="submenu"> <!-- 서브메뉴 리스트 -->
          <li>
            <span class="submenu-item">광주</span>
            <input type="checkbox"> <!-- 체크박스 -->
          </li>
          <li>
            <span class="submenu-item">천안</span>
            <input type="checkbox">
          </li>
        </ul>
      </li>
      <li>
        <span class="submenu-item" onclick="toggleSubmenu(event, this)">도서관</span>
        <ul class="submenu">
          <li>
            <span class="submenu-item">인구수</span>
            <input type="checkbox">
          </li>
          <li>
            <span class="submenu-item">건물현황</span>
            <input type="checkbox">
          </li>
        </ul>
      </li>
      <li>
        <span class="submenu-item" onclick="toggleSubmenu(event, this)">그늘막</span>
        <ul class="submenu">
          <li>
            <span class="submenu-item">인구수</span>
            <input type="checkbox">
          </li>
          <li>
            <span class="submenu-item">유동인구</span>
            <input type="checkbox">
          </li>
        </ul>
      </li>
      <li>
        <span class="submenu-item" onclick="toggleSubmenu(event, this)">무인발급기</span>
        <ul class="submenu">
          <li>
            <span class="submenu-item">인구수</span>
            <input type="checkbox">
          </li>
          <li>
            <span class="submenu-item">유동인구</span>
            <input type="checkbox">
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class="menu-button hidden" id="menu-button" onclick="toggleMenu()"></button> <!-- 메뉴 열기 버튼 -->
  <div id="map" class="map">
    <div class="overlay-button-container">
      <button id="fullscreenButton">1</button>
      <button id="layer-invisible">2</button>
      <button>3</button>
    </div>
  </div>
    <div class="check-layer" id="check-layer">
      <!-- 레이어 헤더 -->
      <div class="layer-header" id="layer-header">
        <span>레이어 우선순위</span> <!-- 제목 -->
        <button class="cancel-button" id="layer-cancel">&times;</button>
      </div>
      <div class="layer-content">
        <!-- 드래그 가능한 체크박스 리스트 -->
        <ul class="draggable-checkbox-list" id="draggable-checkbox-list">
          <li draggable="true"><input type="checkbox" id="option1"> <label for="option1">도서관</label><img src="/images/icons8-메뉴.svg" style="width: 20px; height: 20px"></li>
          <li draggable="true"><input type="checkbox" id="option2"> <label for="option2">무인발급기</label><img src="/images/icons8-메뉴.svg" style="width: 20px; height: 20px"></li>
          <li draggable="true"><input type="checkbox" id="option3"> <label for="option3">공공와이파이</label><img src="/images/icons8-메뉴.svg" style="width: 20px; height: 20px"></li>
          <li draggable="true"><input type="checkbox" id="option4"> <label for="option4">무더위 그늘막</label><img src="/images/icons8-메뉴.svg" style="width: 20px; height: 20px"></li>
        </ul>
      </div>
      <!-- 레이어 푸터 -->
      <div class="layer-footer">
        <button id="submit-button">Submit</button> <!-- 제출 버튼 -->
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // OpenLayers Map 객체 생성
    var map = new ol.Map({
      target: 'map', // map div에 지도 표시
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()  // OpenStreetMap 배경 지도
        }), // 0번
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL, 자기 설정으로 수정  http://localhost:포트번호/geoserver/저장소/wms
            params: {
              'LAYERS': 'ne:gwangju_dong',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false  // 광주 전체 레이어
        }),  //1번
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL
            params: {
              'LAYERS': 'ne:gwangju_gu',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false,  // 기본적으로 레이어가 보이지 않도록 설정
        }) // 대전 동별 레이어
      ],
      view: new ol.View({
        projection: 'EPSG:4326',  // 지도 좌표계 설정
        center: [126.8526, 35.1595],  // 광주의 경도, 위도 좌표
        zoom: 11,  // 기본 줌 레벨
        minZoom: 1, // 최소 줌 레벨 설정
        maxZoom: 15, // 최대 줌 레벨 설정
      })
    });

    // 체크박스를 클릭할 때 레이어의 가시성 토글
    var wmsLayerCheckbox = document.getElementById('wmsLayerCheckbox');
    wmsLayerCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(1); // WMS 레이어
      wmsLayer.setVisible(wmsLayerCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });
    var dongCheckbox = document.getElementById('dongCheckbox');
    dongCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(2); // WMS 레이어
      wmsLayer.setVisible(dongCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });

    // 지도 클릭시
    map.on('click', function (event) {
      var coordinate = event.coordinate;
      var view = map.getView();
      var resolution = view.getResolution();
      var projection = view.getProjection();

      // 클릭한 위치 좌표
      var lonLatText = '클릭한 위치의 위도 : ' +  coordinate[1].toFixed(6) + ', 경도 : ' + coordinate[0].toFixed(6); // 위도, 경도
      let coordinateText = document.getElementById("map_position");
      coordinateText.textContent = lonLatText;


      // 클릭한 위치 이름
      var url1 = map.getLayers().item(1).getSource().getGetFeatureInfoUrl(coordinate, resolution, projection, {
        'INFO_FORMAT': 'application/json'
      });
      if (url1) {
        fetch(url1)
                .then(response => response.json())
                .then(data => {
                  const name = data.features[0].properties.name;
                  let text = document.getElementById("map_text");
                  text.textContent = '현재 클릭한 곳은 ' + name + ' 입니다.';
                })
                .catch(error => console.error('Error fetching feature info:', error));
      }
    });
  });
  // 메뉴 열고 닫기 토글 기능
  function toggleMenu() {
    const menu = document.getElementById('menu');
    const menuButton = document.getElementById('menu-button');
    menu.classList.toggle('hidden');
    menuButton.classList.toggle('hidden');
  }

  // 서브메뉴 열고 닫기 토글 기능
  function toggleSubmenu(event, element) {
    event.preventDefault();
    const listItem = element.parentElement;
    listItem.classList.toggle('active');
  }
</script>
<script src="/js/mapOptionLayer.js"></script>
<div class="footers"></div> <!-- 이거 지우면 안됨 -->
<th:block th:replace="/layout/footer :: footerLayout"></th:block>
</body>
</html>
